.para2{
    margin: 30px;
}
img{
    height: 200px;
    width: 200px;
}
 a{
    
    text-align: left;
}
a:hover{
    background-color: rgb(185, 185, 241);
   
}
button{
    background-color: rgb(176, 168, 168);
   
}
textarea{
    height: 60px;
    width: 300px;
}
.sub{
    margin-top: 20px;
}
.tb{
    margin-top: 20px;
}
table{
    border-collapse: collapse;

    
}
tr, th, td{
    border: 1px solid black;
    padding: 15px;
}
.tb{
     background-color: rgb(240, 229, 171);
    height: 456px;
    width: 280px; 
  
   
    
}   
.tb, .cap{
    text-align: center;
}
